/* # Google fonts import # */
@import url('https://fonts.googleapis.com/css2?family=Galada&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chicle&display=swap');

@font-face {
    font-family: Spice Rice;
    src: url(/fonts/SpicyRice-23Mo.ttf);
}

/* Basic Styling */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    background-color: black;
    color: white;
    margin: 0;
    font-size: 20px;
}



/* ### Header Section Styling ### */
header {
    width: 1140px;
    max-width: 80%;
    margin: 0 auto;
    height: 50px;
    display: flex;
    text-align: center;
    align-items: center;
    position: relative;
    z-index: 100;
}

header nav a {
    font-family: 'Galada';
    text-decoration: none;
    color: white;
    margin-right: 40px;
}

header nav a:hover {
    color: gold;
}



/* ### Carousel Section Styling ### */
.carousel {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    margin-top: -50px;
    position: relative;
}

.carousel .list .item {
    position: absolute;
    inset: 0 0 0 0;
}

.carousel .list .item .background {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.4;
}

.carousel .list .item .content {
    position: absolute;
    top: 20%;
    width: 1240px;
    max-width: 80%;
    left: 45%;
    transform: translateX(-50%);
    padding-right: 30%;
    box-sizing: border-box;
    color: white;
}

.carousel .list .item .content img {
    height: 325px;
}

.carousel .list .item .content .descr {
    font-size: 45px;
    line-height: 1em;
    font-family: Spice Rice;
}

.carousel .list .item .content .descr {
    background-image: linear-gradient(to top, gold 0%, goldenrod 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    margin-left: 15%;
}

.carousel .list .item .content .buttons {
    gap: 5px;
    margin-top: 30px;
    margin-left: 15%;
}

.carousel .list .item .content button {
    border: none;
    border-radius: 6px;
    padding-top: 6px;
    padding-inline: 20px;
    cursor: pointer;
    font-family: 'Galada';
    font-size: 22px;
    transition: all 0.3s ease;
    border: 2px solid white;
    color: white;
    background: none;
}

.carousel .list .item .content button:hover {
    color: black;
    background-image: linear-gradient(to top, gold 0%, goldenrod 70%);
    border: 2px solid goldenrod;
}